@import "./dark";
$body-background-color: #07110e;
$sidebar-color: #0c211b;
$border-color: #496558;
$body-text-color: #c7d2cc;
$body-heading-color: #d6bd84;
$link-color: #78bca4;
$nav-child-link-color: #a8c8bc;
$search-background-color: #102b23;
$search-result-preview-color: #9eb4ab;

