---
---
@import "just-the-docs";

:root {
  --destiny-green: #1d493d;
  --destiny-copper: #c49a61;
}

.site-title { color: var(--destiny-copper); }
.nav-list .nav-list-item .nav-list-link.active { color: #d8bd82; }
a { color: #8fcab5; }
.main-content h1, .main-content h2 { color: #d8bd82; }
.main-content img { border: 1px solid #6e6045; border-radius: 4px; }
